div.form-group.invalid input,
div.form-group.invalid select,
div.form-group.invalid textarea {
  color: red;
  border-color: red;
}

form[novalidate] button.btn-primary:disabled,
form[novalidate] input.btn-primary:disabled {
  background-color: lightblue;
  border-color: lightblue;
}